.modalAddTripleContainer {
    width: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.formContainer {
    width: 100%;
}

.select {
    width: 100%;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
}

.inputAddTitle {
    margin-bottom: 10px;
}

.inputData {
    width: 100%;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 0;
    margin-bottom: 20px;
}

.input {
    padding: 0px 10px;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.addTripleButton {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary);
    cursor: pointer;
    color: white;
}