.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1.2rem 3rem;
    box-shadow: 0 3px 5px #bbb;
}

.nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 1.8rem;
}

.nav a{
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.nav li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 700;
    gap: 10px;
}