.adminContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0 0 30px;
    overflow: scroll;
}

.topicContainer {
    width: 100%;
    padding-right: 30px;
}

.topicHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: var(--color-header)
}

.addTopic {
    width: 150px;
    height: 30px;
    background-color: var(--color-primary);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0;
    /* flex-direction: row; */
}

.buttonTopicContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.editTopicButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background-color: var(--color-primary);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    gap: 5px;
}

a {
    text-decoration: none;
}

.downloadTopicButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: var(--color-primary);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    gap: 5px;
}

.deleteTopicButton {
    width: 100px;
    height: 30px;
    background-color: var(--color-danger);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.tripleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.tripleSearch {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.searchTripleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tripleSearchButton {
    width: 100px;
    height: 30px;
    background-color: var(--color-primary);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.addNewTripleButton {
    width: 150px;
    height: 30px;
    background-color: var(--color-primary);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.tableWrapper {
    max-width: 100%;
    overflow: scroll;
}

.table {
    max-width: 100%;
    display: block;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    overflow-x: auto;
}

.table thead {
    max-width: 100%;
    background-color: #d3d3d3;
}

.table th, .table td {
    padding: 0.8rem 0;
}

.table td {
    width: 25%;
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody {
    width: 100%;
}

.table tbody tr:hover {
    background-color: #eee;
}

.expand {
    width: 100vw;
}

.actionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.editTripleButton {
    width: 30px;
    height: 30px;
    background-color: var(--color-primary);
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 5px;
}

.deleteTripleButton {
    width: 30px;
    height: 30px;
    background-color: var(--color-danger);
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: white;
    border: none;
    border-radius: 5px;
}